{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
 
    {% include "blocks/head.html" %}


</head>

<body>

    {% include "blocks/navbar.html" %}

    <div class="content-container">

        <div class="container-fluid">
            
            <h2>Settings</h2>

            <a href="/download-notes" class="btn btn-warning"><i class="fa fa-save"></i> Download Notes As JSON</a>

            <!-- Main component for a primary marketing message or call to action -->
            
            <form action="/importCalendar/" method="POST" >
                {% csrf_token %}
                <textarea name="ics" id="ics" cols="30" rows="10"></textarea>

                <button class="btn btn-info">Import Calendar</button>
            </form>

            {% include "blocks/add_project_modal.html" %}

        </div>

    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>

        $("#success-alert").hide();

        let current_date = "{{notes.pub_date}}";

        var simplemde = new SimpleMDE({
            element: document.getElementById("notes"),
            spellChecker: false
        });

        $("#add-project").click(()=>{
            $('#add-modal').modal('show');
        });


        $.ajaxSetup({
            headers:
                { 'X-CSRF-TOKEN': $("[name='csrfmiddlewaretoken']").val() }
        });


        $(function () {
            $(document).on("keydown", function (e) {
                if ((e.keyCode == 10 || e.keyCode == 13) && e.ctrlKey) {
                    createRequest();
                }
            });
        });

        function changedate(date) {
            window.location.href = `/get/?date=${date}`;
        }

        $("#update-btn").on("click", function () {
            createRequest()
        });

        function createRequest() {
            var request;

            request = $.ajax({
                url: "/update/",
                method: "POST",
                data:
                {
                    date: current_date,
                    notes: simplemde.value(),
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                datatype: "json"
            });

            request.done(function (msg) {
                if (msg == "success") {
                    $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#success-alert").slideUp(500);
                    });
                }
                else {
                    alert("error");
                }
            });


            request.fail(function (jqXHR, textStatus) {
                $("#result").html("Request failed: " + textStatus);
            });
        }
    </script>
</body>

</html>